*.db
*.mdb

*.o
*.a
*.so
*.la

*.lib
*.exe
*.dll
*.idb
*.exp
*.ncb
*.log
*.pdb
*.sbr
*.sdf
*.ilk
*.pch
*.aps
*.suo
*.user
*.deps
*.libs
*.dbmdl
*.DS_Store
*.dep
*.manifest
*.res
*.[Oo]bj

*.pkg
*.swp
*.orig

*.pyd
*.pyc

*.pidb
*.userpref
*.arx
*.dbx

*.svn
~$*

*.dump

Ankh.NoLoad
build/
[Oo]bj/
[Bb]in/
*[Dd]ebug*/
*[Rr]elease*/
GeneratedFiles/
[Ww]in*/
[Xx]86*/
[Xx]64*/
Unicode*/
[Bb]uild/
CMakeFiles/
html/

MakeFile*
*generated*
qmake_image_collection.cpp
[Bb]uild*.htm
CMakeCache.txt
[Tt]humbs.db
acad.err